
.main {	
	text-align: center;
	width: 66%;
	border: 1px solid black;
	margin: auto;
	height: auto;
	background: black;
	color: red;
}

.inputs {
	float: left;
	width: 39.5%;
	display: block;
	border: 1px solid black;
	height: auto;
	overflow: hidden;
	min-height: 100px;
}

.listOfTasks {
	width: 59.5%;
	border: 1px solid black;
	min-height: 100px;
	height: auto;
	overflow: hidden;
	float: right
}

.taskClass {
	border: 1px solid black;
	width: 90%;
	margin: auto;
	padding: 10px;
}

.taskClass input {
	float: left;
}

.taskClass button {
	float: right;
	background: none;
}

.taskClass p {
	text-align: justify;
	text-justify: inter-word;
}

.maps {
	width: 100%;
	height: 300px;
}